@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --base: #fff;
    --base-secondary:#FFDE3D;
    --background: #fff;
    --fonttitle: #FFD700;
    --fonttext: black;
    --colorside: #E52323;
  }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
      body {
        --background-color: var(--background);
        font-family: "poppins";
      }
     /* navbar */
.logo {
  width: 80px;
  margin-left: 50px;
}

nav {
  position: fixed;
  backdrop-filter: blur(3px);
  justify-content: space-between;
  background-color: rgba(255, 255, 255);
  width: 100%;
  display: flex;
  padding: 20px 0;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  padding: 0 10px;
}

nav ul li a:hover {
  color: #ffde3d;
}

/* haburger */

.menu-toggle {
  display: flex;
  margin-right: 50px;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  display: none;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 1;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #000000;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger */

/* animation hamburger */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* end animation hamburger */

/* end navbar */
      /* hero */
      
      /* pengaturan header */
      header {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        z-index: 2;
      }
      header .intro {
        z-index: 100;
        color: #fff;
        text-align: center;
        position: relative;
        top: 30%;
      }
      
      header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 50%;
        z-index: -1;
      }
      /* end hero */

      .contactus {
        position: flex;
        padding-top: 200px;
        color: var(--fonttitle);
        margin-left: 200px;
        font-size: 30px;
        font-weight: 700;
      
      }

.joinchapter{
--position: flex;
border-radius: 1px;
background-color: #fff;
text-align: center;
border: #cccc solid;
border-width: 1px;
padding-top: 20px;
margin-top: 50px;
margin-bottom: 50px;
max-width: 600px;
margin-left: auto;
margin-right: auto;
border-radius: 15px;
}
.joinchapter img{
  border-radius: 10px;
  max-width: 100%;
  object-fit: cover;
}
.joinchapter p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.joinchapter button{
  width: 30%;
    background-color: var(--base-secondary);
    color: black;
    text-align: center;
   padding: 10px;
    margin-bottom: 30px;
    opacity: 1;
    border-radius : 10px;
    transition: 0.3s;
    border-color: #ffde3d;
  }
  .joinchapter button:hover {opacity: 0.6}

.note {
color:#fff;
}
.marked {
  color: red;
}

.form h2{
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: black;
  font-size: 20px;
  background-color: var(--base-secondary);
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;


}
.form p{
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-size: 15px;
  background-color: var(--base-secondary);
  margin-left: 100px;
  margin-right: 100px;
  font-style: normal;
  text-align: center;
}
.form{
  align-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--base-secondary);
  border: none;
  border-radius: 15px;
}
fieldset{
  border:none;
  border-radius: 15px;
  align-content: center;
}

.formlabel {
  padding-top: 10px;
  background-color: var(--base-secondary);
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  border:none;
  text-align: center;
}
textarea{
align-content: center;
width: 100%;
}
input[type=email], input[type=password], input[type=number], input[type=date],input[type=tel],input[type=text],select {
  width: 70%;
  float: right;
  padding-block: 5px;
  padding-left: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 0px;
}
input::placeholder{
padding-left: 20px;
font-weight: bold;
opacity: 0.5;
color: grey;
}

#submit{
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  width: 100px;
  margin-bottom: 30px;
  opacity: 1;
  transition: 0.3s;
  justify-content: center;
}
#submit:hover {opacity: 0.6}


/* footer */
footer {
  background-color: #787878;
  box-sizing: border-box;
  display: flex;
  color: #fff;
  align-items: center;
  flex-direction: column;
}

.section-footer img {
  width: 100px;
  height: 100px;
}

.f-logo {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 5px 10px;
}

.section-footer ul {
  margin: 0px;
  padding: 0px 20px;
  list-style: none;
}

.section-footer h1 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.section-footer ul li {
  padding-bottom: 5px;
}

.section-footer li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

.section-footer {
  display: flex;
  justify-content: space-between;
  padding: 3% 0px;
  margin: 5px;
  width: 80%;
}

.f-social-icon a {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.f-social-icon {
  display: flex;
}

.f-social-icon i {
  color: #fff;
  font-size: 20px;
}

.copyright {
  font-size: 14px;
  color: #f5f6f8;
  text-align: center;
  background: #787878;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
}

.section ul li a:hover {
  color: #0080ff;
}

.f-social-icon a:hover {
  background-color: #ffde3d;
  transition: all ease 0.5s;
}
.f-social-icon a:hover i {
  color: #fff;
}

/* end footer */

@media screen and (max-width: 768px) {
  nav {
    height: 60px;
  }

  .logo {
    width: 45px;
  }

  nav ul {
    display: 50%;
  }
  .hero {
    padding-top: 50px;
  }

  header {
    height: 81vh;
  }
  .joinchapter img{
    border-radius: 8px;
    max-width: 100%;
    object-fit: cover;
  }
  
}

@media screen and (max-width: 426px) {
  .logo {
    width: 50px;
  }
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 35vh;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(3px);
    margin-top: 52px;
    transform: translateX(100%);
    transition: all 1s;
  }

  header {
    height: 44vh;
  }

  header .overlay {
    height: 100%;
  }

  nav ul.slide {
    transform: translateX(0);
  }
  .contactus {
    padding-top: 100px;
  }
  .joinchapter{
    --position: flex;
    border-radius: 1px;
    background-color: #fff;
    text-align: center;
    border: #cccc solid;
    border-width: 1px;
    padding-top: none;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 426px;
    margin-left: auto;
    margin-right: auto;
    }
    .joinchapter img{
      border-radius: 6px;
      max-width: 100%;
      object-fit: cover;
    }
    .joinchapter button{
      width: 40%;
    }
  
    .form{
      align-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
      max-width: 426px;
      margin-left:3px;
      margin-right: 3px;
    }
    .contactus {
      text-align: center;
      margin-left: auto;
    }
  .section-footer {
    display: flex;
    justify-content: center;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (max-width: 426px) {
  header {
    height: 39vh;
  }
  .form{
    align-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
    max-width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
  .contactus {
    text-align: center;
    margin-left: auto;
  }
  .form p{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 320px) {
  header {
    height: 32vh;
  }
  
  .joinchapter{
    --position: flex;
    border-radius: 1px;
    background-color: #fff;
    text-align: center;
    border: #cccc solid;
    border-width: 1px;
    padding-top: none;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    }
    .joinchapter img{
      border-radius: 4px;
      max-width: 100%;
      object-fit: cover;
    }
    .joinchapter button{
      width: 50%;
    }
    .form{
      align-content: center;
      margin-top: 20px;
      margin-bottom: 60px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .contactus {
      text-align: center;
      margin-left: auto;
    }
    .form p{
      margin-left: auto;
      margin-right: auto;
    }
}

